langchain
langchain-community
langchain-text-splitters
pypdf
openai
pydantic
pydantic-settings
networkx
chromadb
langchain-google-genai
python-dotenv
rdflib
langchain-huggingface
huggingface_hub
owlready2
pyvis